:root {
  --main-dark: #242424;
  --main-light: #323232;
  --priority-high: #f55151;
  --priority-medium: #e67e22;
  --priority-low: #eec300;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Colors */
.main-light-color {
  background-color: var(--main-light) !important;
}

.main-dark-color {
  background-color: var(--main-dark) !important;
}

.col-md-6 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.bg {
  /* Set the height the size of the browser */
  height: 100vh;
  width: 100vw;
  color: #f8f6f3;
  text-align: center;
  display: flex;
}

.h1 {
  font-size: 7rem;
  font-weight: 300;
}

h2,
h5 {
  font-weight: 300;
}

.flex-center {
  margin: auto;
}

.flex-center-width {
  flex: 1;
}

.task-section-size {
  width: 23vw;
}

/* Modal Styles */

button:focus {
  outline: none;
}

.task-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
}

.modal-content {
  text-align: left;
  padding: 5%;
  background-color: var(--main-dark);
  border-radius: 20px;
  -webkit-box-shadow: 9px 7px 35px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 9px 7px 35px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 9px 7px 35px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
  color: #f8f6f3;
  /* Add animation to the open modal */
  animation-name: modalopen;
  animation-duration: 0.7s;
}

.modal-footer,
.modal-header {
  border-color: var(--main-dark);
}

.form-control {
  color: #f8f6f3 !important;
  border-radius: 18px !important;
}

select,
textarea {
  border: 3px solid #f8f6f3 !important;
  background-color: var(--main-dark) !important;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select,
select option,
button {
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-secondary,
.btn-secondary:hover {
  color: var(--main-dark);
}
/* End of Modal Styles */

.main-task-container {
  width: 100%;
  height: auto;
  position: relative;
}

.task-container {
  width: 27vw;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  overflow: auto;
  text-align: left;
}

.single-task {
  background-color: var(--main-dark);
  border-radius: 14px;
  margin-top: 5%;
  padding: 4% 2% 4% 7%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

.border-priority-high {
  border-left: 14px solid var(--priority-high);
}
.border-priority-medium {
  border-left: 14px solid var(--priority-medium);
}
.border-priority-low {
  border-left: 14px solid var(--priority-low);
}

/* Radio button styles */
input[type="radio"].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="radio"],
label {
  cursor: pointer;
}

.custom-control-label::after {
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  background-color: var(--main-dark);
}

.label-priority-high::after {
  border-color: var(--priority-high);
}
.label-priority-medium::after {
  border-color: var(--priority-medium);
}
.label-priority-low::after {
  border-color: var(--priority-low);
}
/* Radio button styles end */

.lateral-task-bar {
  width: 14px;
  height: auto;
  background-color: red;
}

/* Scroll bar style */
.task-container::-webkit-scrollbar {
  width: 0.5em;
  height: 0.2em;
  border-radius: 50%;
}

.task-container::-webkit-scrollbar-thumb {
  background-color: var(--main-dark);
  outline: 1px solid var(--main-dark);
  border-radius: 80px;
}

/* Media Querys */
@media only screen and (max-width: 767px) {
  .btn-add {
    width: 60vw;
  }

  .modal-content {
    width: 100%;
    height: 100%;
  }

  .task-container {
    width: 60vw;
  }
}
